@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

.navbar {
  background-color: #e0e0e0;
}

.navbar span {
  font-family: 'New Rocker', cursive;
  color: #581f18;
  font-size: 40px;
}

.calc-container {
  width: 80%;
  aspect-ratio: 6 / 5;
}

.calc-row {
  height: 16.6666%;
}

.result {
  background-color: #858693;
  color: white;
  font-size: 25px;
  padding-right: 5px;
}

.gray-btn {
  background-color: #e0e0e0;
}

.orange-btn {
  background-color: #f4913f;
}

.calc-btn {
  border: 1px solid #d1d1d1;
}

nav .navbar-nav li a {
  font-size: 18px;
  font-weight: 700;
  color: #202c59 !important;
}

nav .navbar-nav li a:hover {
  color: #581f18 !important;
}

.quote {
  font-size: 35px;
  font-weight: 500;
}

.home-text {
  font-size: 18px;
}
