.result {
  background-color: #858693;
  color: white;
  font-size: 25px;
}

.gray-btn {
  background-color: #e0e0e0;
}

.orange-btn {
  background-color: #f4913f;
}

.calc-btn {
  border: 1px solid #d1d1d1;
}
